<div id="chart"></div>

{% js on ready %}
  Craft.SproutVisualizations.createLineChart('{{visualization.getTitle()}}', {{visualization.getLabels()|json_encode()|raw}}, {{visualization.getDataSeries()|json_encode()|raw}}, {{options|json_encode()|raw}}, '#chart');
{% endjs %}
