.visualization-filters {
  display:flex;
  justify-content:flex-end;
  padding-right:10px;
  margin-bottom:10px;
}

.visualization-filters .field {
  margin: 0 0 0 20px;
 xpadding-left:10px;
 display:flex;
 align-items: center;
}

.visualization-filters .input .field {
  margin: 0;
}

.visualization-filters .field .heading {
  margin: 0 5px 0 0;
}

